.home-text {
    color: #9A1663;
}

.background-figure {
    opacity: 1;
}

.home-para {
    font-weight: 600;
    font-size: 18px;
}

.food-btn {
    background-color: #9A1663;
    border: none;

}